<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock" version="2.0.2000" targetFramework="net45" />
  <package id="Catel.Core" version="3.6.1309271100-beta" targetFramework="net45" />
  <package id="Catel.Extensions.Controls" version="3.6.1309271100-beta" targetFramework="net45" />
  <package id="Catel.Extensions.Prism" version="3.6.1309271100-beta" targetFramework="net45" />
  <package id="Catel.MVVM" version="3.6.1309271100-beta" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="2.1.0-g" targetFramework="net45" />
  <package id="Orchestra.Library" version="0.40.1309011332-beta" targetFramework="net45" />
  <package id="Orchestra.Shell" version="0.40.1309011332-beta" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
</packages>